{% extends 'masonry.html' %}

{% block title%} Delete Account {% endblock %}

{% block content %}
<h2>Delete Account</h2>
<p>Are you sure you want to delete your account? This action cannot be undone.</p>
<p class="text-danger">{{ message }}</p>
<div class="col-3" style="max-width: 300px;">
    <form method="post">
        {% csrf_token %}
        <input type="password" class="form-control" name="password" placeholder="Enter your password">
        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </div>
    </form>
</div>
{% endblock %}
