{% extends 'masonry.html' %}

{% block title%} Profile {% endblock %}

{% block content %}
<div class="container">
    <h2>User Profile</h2>
    <p>Welcome {{user.username}}</p><br>

    <div class="d-flex justify-content-between">
        <div>
            <a href="/users/profile/change_username/" class="btn btn-primary">Change Username</a>
            <a href="/users/profile/change_password/" class="btn btn-primary">Change Password</a>
            <a href="/users/profile/delete/" class="btn btn-danger">Delete Account</a>
        </div>
        <div>
            {% if request.user.is_admin %}
                <a href="/admin" class="btn btn-warning">Admin</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}