{% extends 'masonry.html' %}

{% block title%} Profile {% endblock %}

{% block content %}
<div class="container">
    <div class="container">
        <h2>User Profile</h2>
        <p>Welcome {{ user.username }}</p>
    </div>

    <div class="container mt-5">
        <h4>Account Details</h4>
        <div>
            <div>
                <form action="{% url 'users:change_username' %}" method="get" style="display: inline-block;" clss="mt-3">
                        <button type="submit" class="btn btn-primary">
                            Change Username
                        </button>
                </form>
                <form action="{% url 'users:change_password' %}" method="get" style="display: inline-block;" clss="mt-3">
                        <button type="submit" class="btn btn-primary">
                            Change Password
                        </button>
                </form>
            </div>
        </div>
        <div class="mt-2">
            <div class="d-flex justify-content-between">
                <div>
                    <form action="{% url 'users:delete_account' %}" method="get" style="display: inline-block;" clss="mt-3">
                        <button type="submit" class="btn btn-danger">
                            Delete Account
                        </button>
                    </form>
                </div>
                <div>
                    {% if request.user.is_admin %}
                    <a href="/admin" class="btn btn-warning">Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h4>Security</h4>
        <div class="d-flex">
            <div class="mt-1">
                {% if user.otp %}
                    <form action="{% url 'users:toggle_otp' %}" method="post">
                        {% csrf_token %}
                            <button type="submit" class="btn {% if user.otp %}btn-warning{% else %}btn-success{% endif %}">
                                Disable OTP
                            </button>
                    </form>
                {% else %}
                    <form action="{% url 'users:setup_otp' %}" method="post">
                        {% csrf_token %}
                            <button type="submit" class="btn {% if user.otp %}btn-warning{% else %}btn-success{% endif %}">
                                Enable OTP
                            </button>
                    </form>
                {% endif %}
            </div>
            <div class="p-1">
                {% if passkey_exists %}
                    <form action="/web_auth/remove_passkey/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove Passkey</button>
                    </form>
                {% else %}
                    <button id="addPasskeyBtn" class="btn btn-primary">Add a Passkey</button>
                {% endif %}


            </div>
        </div>
    </div>
</div>

{% if not passkey_exists %}
<script>

    //importazione di startRegistration dalla libreria SimpleWebAuthnBrowser
    const { startRegistration } = SimpleWebAuthnBrowser;

    //estrazione del valore di un cookie dato il suo nome
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    //riferimento al bottone di registrazione addPasskeyBtn
    const elemBegin = document.getElementById('addPasskeyBtn');
    //si attende il caricamento completo del DOM per aggiungere un event listener al bottone di registrazione
    document.addEventListener("DOMContentLoaded", function() {

        //inizio della registrazione di una passkey al click del bottone addPasskeyBtn
        elemBegin.addEventListener('click', async () => {

          //Si richiedono le opzioni di registrazione dal server, che genererà le opzioni usando generateRegistrationOptions().
          const resp = await fetch('/web_auth/registration/');

          //le opzioni di registrazione vengono passate all'autenticatore tramite startRegistration
          //si attende la risposta, in caso di errore, viene lanciata un'eccezione
          let attResp;
          try {
            attResp = await startRegistration(await resp.json());
          } catch (error) {
            throw error;
          }

          //la risposta dell'autenticatore viene inviata al server per la verifica, che utilizza verifyRegistrationResponse()
          const verificationResp = await fetch('/web_auth/registration_verification/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(attResp),
          });

          //attesa del risultato della verifica
          const verificationJSON = await verificationResp.json();

          //se la verifica è andata a buon fine, la pagina viene ricaricata per riflettere lo stato aggiornato. 
          //altrimenti, viene mostrato un messaggio di errore.
          if (verificationJSON && verificationJSON.verified) {
            console.log('Success!');
            window.location.reload();
          } else {
            console.error('Somethin went wrong!', verificationJSON);
          }
        })
    });
</script>
{% endif %}

{% endblock %}