{% extends 'masonry.html' %}

{% block title%} Profile {% endblock %}

{% block content %}
<div class="container">
    <h2>User Profile</h2>
    <p>Welcome {{ user.username }}</p><br>

    <div class="d-flex justify-content-between">
        <div>
            <a href="/users/profile/change_username/" class="btn btn-primary">Change Username</a>
            <a href="/users/profile/change_password/" class="btn btn-primary">Change Password</a>
            <a href="/users/profile/delete/" class="btn btn-danger">Delete Account</a>
        </div>
        <div>
            {% if request.user.is_admin %}
                <a href="/admin" class="btn btn-warning">Admin</a>
            {% endif %}
        </div>
    </div>

    <div class="mt-3">
        <form action="{% url 'users:toggle_otp' %}" method="post" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn {% if user.otp %}btn-warning{% else %}btn-success{% endif %}">
                {% if user.otp %}
                    Disable OTP
                {% else %}
                    Enable OTP
                {% endif %}
            </button>
        </form>
</div>
{% endblock %}