{% extends "masonry.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h1>Search Results</h1>

    <div class="my-4"> <!-- Add margin bottom -->
        <form method="GET">
            <input type="text" name="q" value="{{ query }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="row">
        {% if images %}
            {% for image in images %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ image.link }}" class="card-img-top" alt="{{ image.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ image.title }}</h5>
                            <p class="card-text">Uploaded by: {{ image.user.username }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No match found.</p>
        {% endif %}
    </div>
{% endblock %}
