{% extends 'masonry.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

<div class="justify-content-Start">
    <div>
        <form method="post" style="max-width: 300px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" autocomplete="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" autocomplete="current_password">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary my-3">Login</button>
            </div>
        </form>
        <div class="d-grid gap-2" style="max-width: 300px;">
            <button id="login-with-passkey" class="btn btn-dark">Login with passkey</button>
            <p>*username required for passkeys</p>
        </div>
        <p class="mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
</div>

<script>

    //importazione di startAuthentication dalla libreria SimpleWebAuthnBrowser
    const { startAuthentication } = SimpleWebAuthnBrowser;
    
    //estrazione del valore di un cookie dato il suo nome
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    
    //riferimento al pulsante login-with-passkey
    const elemBegin = document.getElementById('login-with-passkey');
    //si attende il caricamento completo del DOM per aggiungere un event listener al bottone di registrazione
    document.addEventListener("DOMContentLoaded", function() {

        //inizio della procedura di autenticazione al click del pulsante login-with-passkey
        elemBegin.addEventListener('click', async () => {

            //recupero dell'username e verifica che non sia vuoto,
            //se vuoto si mostra un messaggio di errore (alert)
            const username = document.getElementById('username').value;
            if (username.trim() === '') {
                alert("Username required for passkeys");
                return;
            };

            //invio dell'username al server per impostarlo come utente corrente
            const postData = {
                username: username
            };
            const userResp = await fetch('/web_auth/login_with_passkey/set_username/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify(postData),
            })
            if (!userResp.ok) {
                const userVerificationResp = await userResp.json();
                console.log(userVerificationResp.error);
                window.location.href = '/web_auth/login/';
                alert(userVerificationResp.error);
                return;
            }
            
            //ottenimento delle opzioni di autenticazione dal server con metodo GET
            const resp = await fetch('/web_auth/authentication/');
            const options = await resp.json();
            
            //invio delle opzioni all'autenticatore e si attende la risposta
            let asseResp;
            try {
                asseResp = await startAuthentication(await options);
            } catch (error) {
                //in caso di errore, viene lanciata un'eccezione
                throw error;
            }
            
            //invio della risposta dell'autenticatore al server tramite motodo POST
            const verificationResp = await fetch('/web_auth/authentication_verification/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify(asseResp),
            });
            
            //attesa del risultato per la verifica
            const verificationJSON = await verificationResp.json();
            
            //gestione del risultato della verifica
            if (verificationJSON && verificationJSON.verified) {
                console.log('Success!');
                window.location.href = '/home';
            } else {
                console.error('Something went wrong!', verificationJSON);
            }
        });
    });
</script>

{% endblock %}