{% extends 'masonry.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

<div class="justify-content-Start">
    <div>
        <form method="post" style="max-width: 300px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" autocomplete="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" autocomplete="current_password">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary my-3">Login</button>
            </div>
        </form>
        <div class="d-grid gap-2" style="max-width: 300px;">
            <button id="login-with-passkey" class="btn btn-dark">Login with passkey</button>
            <p>*username required for passkeys</p>
        </div>
        <p class="mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
</div>

<script>
    const { startAuthentication } = SimpleWebAuthnBrowser;
    
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    
    // <button>
    const elemBegin = document.getElementById('login-with-passkey');
    document.addEventListener("DOMContentLoaded", function() {

        // Start authentication when the user clicks a button
        elemBegin.addEventListener('click', async () => {

            const username = document.getElementById('username').value;
            if (username.trim() === '') {
                alert("Username required for passkeys");
                return;
            };
            const postData = {
                username: username
            };
            
            const userResp = await fetch('/web_auth/login_with_passkey/set_username/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify(postData),
            })
            if (!userResp.ok) {
                const userVerificationResp = await userResp.json();
                console.log(userVerificationResp.error);
                window.location.href = '/web_auth/login/';
                alert(userVerificationResp.error);
                return;
            }
            
            // GET authentication options from the endpoint that calls
            // @simplewebauthn/server -> generateAuthenticationOptions()
            const resp = await fetch('/web_auth/authentication/');
            const options = await resp.json();
            
            let asseResp;
            try {
                // Pass the options to the authenticator and wait for a response
                asseResp = await startAuthentication(await options);
            } catch (error) {
                // Some basic error handling
                throw error;
            }
            
            // POST the response to the endpoint that calls
            // @simplewebauthn/server -> verifyAuthenticationResponse()
            const verificationResp = await fetch('/web_auth/authentication_verification/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify(asseResp),
            });
            
            // Wait for the results of verification
            const verificationJSON = await verificationResp.json();
            
            // Show UI appropriate for the `verified` status
            if (verificationJSON && verificationJSON.verified) {
                console.log('Success!');
                window.location.href = '/home';
            } else {
                console.error('Something went wrong!', verificationJSON);
            }
        });
    });

//    document.addEventListener("DOMContentLoaded", function() {
//        const loginWithPasskeyButton = document.getElementById('login-with-passkey');
//        
//        loginWithPasskeyButton.addEventListener('click', function(event) {
//            const username = document.getElementById('username').value;
//            if (username.trim() === '') {
//                alert("Username required for passkeys");
//                return;
//            }
//
//            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
//
//            const form = document.createElement('form');
//            form.method = 'POST';
//            form.action = '/web_auth/login_with_passkey/';
//
//            const inputUsername = document.createElement('input');
//            inputUsername.type = 'hidden';
//            inputUsername.name = 'username';
//            inputUsername.value = username;
//            form.appendChild(inputUsername);
//
//            const inputCsrfToken = document.createElement('input');
//            inputCsrfToken.type = 'hidden';
//            inputCsrfToken.name = 'csrfmiddlewaretoken';
//            inputCsrfToken.value = csrfToken;
//            form.appendChild(inputCsrfToken);
//
//            document.body.appendChild(form);
//            form.submit();
//        });
//    });
</script>

{% endblock %}